<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Powered by PHP/Bootstrap/Javascript/SDDC</strong>
                </h4>
                <p>VMware France
                <ul class="list-unstyled">
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">vmeoc@vmware.com</a>
                    </li>
                </ul>
                <br>
                <hr class="small">
                <p class="text-muted">
                </p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>