<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Tito</h1>
        <h3>Time Traffic Overview</h3>
        <h5>by Vince :)</h5>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
    </div>
</header>