<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Tito-js</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="stylesheets/stylish-portfolio.css">

  <!-- Font-awesome Fonts -->
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

  <!-- Google -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" type="text/css">
</head>
<body>
  {% block content %}

  {% endblock %}

  <!-- jQuery -->
  <script src="javascripts/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="javascripts/bootstrap.min.js"></script>
  
  <!-- Parallax Core JavaScript -->
  <script src="javascripts/parallax.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment-with-locales.min.js"></script>

  <!-- Custom -->
  <script src="javascripts/script.js"></script>

</body>
</html>